/*settings for the site as a whole*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*style config for the page heading*/
h1{
    background-color: #600034;
    color: #db2967;
    padding: 1rem;
    text-align: left;
}
/*style config for the page nav bar*/
.topnav{
    background-color: #600034;
    overflow: scroll;
}

/*stlye config for the links inside the nav bar*/
.topnav a{
    float: left;
    color: #db2967;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
    font-size: 17px;
}

/*style config for links on hover*/
.topnav a:hover{
    background-color: #420928;
    color: #da9ae2;
}

/*style config for the active tab on nav bar*/
.topnav a.active{
    background-color: #87054a;
    color: #db2967;
}
 
/*Removing margins and bullets from ul elements*/
.ranknav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #600034;
 }

/*Config for ranks navbar list*/
/*Style config for links navbar, setting background and display*/
.ranknav a {
    display: block;
    color: #db2967;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link and background color on hover */
.ranknav a:hover {
  background-color: #420928;
  color: #da9ae2;
}

.ranknav a.title{
    background-color: #7c0042;
    color: #db2967;
}

.ranknav a.active {
    background-color: #87054a;
    color: #db2967;
 }